:root {
    --teal: rgb(183, 202, 193);
}
body {
    min-height: 1000px;
    background-color:white;
    overflow-x: scroll;
}
.header{
    background-color: white;
    padding-top: 10px;
    position: fixed;
    width: 100%;
}
.main{
    font-size: 60px;
}
.newheader{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 600;
}
.innerwrapper {
    width: 100%;
    min-height: 900px;
    background: linear-gradient( rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.781)), url(public/leaf-pattern.jpg);
    color:black;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Rubik', sans-serif;

}

.profilePic{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.feedPic{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 350px;
}
.navbar{
    border-top: 2px solid black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.navbar2{
    border-top: 2px solid black;
    width: 120%;
    margin-left: auto;
    margin-right: auto;
}
.profilePicture{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid  rgb(180, 100, 100);
}

.welcome-page-title {
    text-align: center;
    margin: auto;
    padding-top: 120px;
    font-family: 'Rubik', sans-serif;
}

hr.hr-navbar {
    border-top: 2px solid black;
}

.bottompad{
    padding-bottom: 100px;
}

.route-buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.welcome-page-buttons:hover, .aboutButton:hover {
    background-color: black;
    color: rgb(180, 100, 100);
}
.searchform{
    width: 80%;
}
.proflink:hover,
.navlink:hover,
.dropbtn:hover,
.linky:hover {
    color: rgb(180, 100, 100);
}

.logo a {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: 35px;
    padding-left: 10px;
}

.logo a:hover {
    color: rgb(180, 100, 100);
}
.menu_welcomePage {
    font-family: "Nunito", sans-serif;
    float: right;
    font-weight: bold;
}

ul li {
    display: inline;
    padding: 10px;
}
ul li form{
    display: inline-block;
    /* padding-left: 10px; */
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
.selectButton-wide {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.selectButtonNarrow{
    width: 15%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}


/*-------------------- styling for the tutor signup page */

.log_in_input,
.sign_up_input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.addcomment {
    width: 50%;
    padding: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input_text_field {
    padding-bottom: 40px;
}

input[type="submit"]:hover {
    background-color: rgb(180, 100, 100);
    color: black;
}

#tutor_signup_div {
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

#tutor_signup_submit,
#log_in_button {
    display: inline-block;
    border: 0px solid #ccc;
    margin-top: 10px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px;
}

#tutor_signup_submit:hover,
#log_in_button:hover {
    background-color: rgb(180, 100, 100);
    color: black;
}

#forgot_link_id {
    color: black;
    font-weight: bold;
}

.message {
    color: rgb(128, 50, 50);
    font-size: larger;
}


/* search style */

.big{
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;  
}
.selectButtonWhite{
    width: 15%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(180, 100, 100);
    cursor: pointer;
    border: none;
    color: black;
}
.selectButtonWhite:hover {
    background-color:black;
    color: white;
}
.selectButton {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.selectButtonNarrow:hover,
.selectButton:hover,
.calendarView:hover,
.selectButton2:hover, .big:hover {
    background-color: rgb(180, 100, 100);
    color: black;
}

.smallPic{
    width: 40px;
    height: 40px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid  rgb(180, 100, 100);
}

.center {
    margin: 0 auto;
    text-align: center;
    display: block;
    font-weight: bolder;
    font-size: 16px;
}
.messagetext{
    display: block;
    font-weight: bolder;
    font-size: 16px;
}

.rate {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 2px;
    font-size: 13px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.rate:hover{
    color: black;
    background-color: rgb(180, 100, 100);
}

.inline{
    margin-left: auto;
    margin-right: auto;
}
.proflink{
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: larger;
    font-weight: bold;
}
.ip{
    width: 30%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.cont{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.linky{
    text-decoration: none;
}
.dropbtn2 {
    width: 100px;
    background-color: black;
    color: white;
    padding: 2px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .cc{
      text-align: center;
  }
  .cont2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;    

  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content2 a:hover {
      background-color: #f1f1f1;}
      /* margin-left: auto;
      margin-right: auto;
      display: block;
    } */
  
  /* Show the dropdown menu on hover */
  .cont2:hover .dropdown-content2 {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .cont2:hover .dropbtn2 {
    background-color: white;
    color: black;
  }
  .dropbtn2:hover{
    background-color: white;
    color: black; 
  }
  .blink_me {
    animation: blinker 1s linear infinite;
    font-weight: bolder;
    color: rgb(255, 0, 106);
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .bold_me{
      font-weight: bolder;
  }