:root {
    --teal: rgb(183, 202, 193);
}
body {
    min-height: 900px;
    background-color:white;
    overflow-x: scroll;

  }
.innerwrapper {
    width: 1100px;
    min-height: 900px;
    background-color: var(--teal);
    color:black;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;

}

.profilePic{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.feedPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}
.navbar{
    border-top: 2px solid black;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.navbar2{
    border-top: 2px solid black;
    width: 120%;
    margin-left: auto;
    margin-right: auto;
}
.profilePicture{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid  rgb(180, 100, 100);
}

.welcome-page-title {
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

hr.hr-navbar {
    border-top: .5px solid black;
}

.bottompad{
    padding-bottom: 100px;
}

.route-buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.welcome-page-buttons:hover, .aboutButton:hover {
    background-color: black;
    color: rgb(180, 100, 100);
}
.proflink:hover,
.navlink:hover,
.dropbtn:hover,
.linky:hover {
    color: rgb(180, 100, 100);
}

.logo a {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(180, 100, 100);
}

.header {
    padding-left: 10px;
}

.menu_welcomePage {
    font-family: "Alatsi", sans-serif;
    float: right;
}

ul li {
    display: inline;
    padding: 10px;
}
ul li form{
    display: inline-block;
    padding-left: 10px;
}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
.selectButton-wide {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.selectButtonNarrow{
    width: 15%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}


/*-------------------- styling for the tutor signup page */

.log_in_input,
.sign_up_input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.addcomment {
    width: 50%;
    padding: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.input_text_field {
    padding-bottom: 40px;
}

input[type="submit"]:hover {
    background-color: rgb(180, 100, 100);
    color: black;
}

#tutor_signup_div {
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

#tutor_signup_submit,
#log_in_button {
    display: inline-block;
    border: 0px solid #ccc;
    margin-top: 10px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px;
}

#tutor_signup_submit:hover,
#log_in_button:hover {
    background-color: rgb(180, 100, 100);
    color: black;
}

#forgot_link_id {
    color: black;
    font-weight: bold;
}

.message {
    color: white;
    font-size: larger;
}


/* search style */

.big{
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;  
}
.selectButtonWhite{
    width: 15%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: black;
}
.selectButtonWhite:hover{
    background-color: rgb(180, 100, 100);
    background-color:black;
}
.selectButton {
    width: 30%;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 5px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.selectButtonNarrow:hover,
.selectButton:hover,
.calendarView:hover,
.selectButton2:hover, .big:hover {
    background-color: rgb(180, 100, 100);
    color: black;
}

.smallPic{
    width: 40px;
    height: 40px;
    object-fit:cover;
    border-radius:50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid  rgb(180, 100, 100);
}

.center {
    margin: 0 auto;
    text-align: center;
    display: block;


}

.rate {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 2px;
    font-size: 13px;
    background-color: black;
    cursor: pointer;
    border: none;
    color: white;
}
.rate:hover{
    color: black;
    background-color: rgb(180, 100, 100);
}

.inline{
    margin-left: auto;
    margin-right: auto;
}
.proflink{
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: larger;
    font-weight: bold;
}
.ip{
    width: 30%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.cont{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.linky{
    text-decoration: none;
}